<div class="genre">
  <table class="table large-table">
    <thead>
      <tr>
        <th style="background-color: #d3d3d3">もくじ名</th>
        <th style="background-color: #d3d3d3">保存日</th>
        <th style="background-color: #d3d3d3"></th>
        <th style="background-color: #d3d3d3"></th>
        <th style="background-color: #d3d3d3">もくじ名</th>
        <th style="background-color: #d3d3d3">保存日</th>
        <th style="background-color: #d3d3d3"></th>
        <th style="background-color: #d3d3d3"></th>
      </tr>
    </thead>

    <tbody class="genre">
      <% sorted_genres.each_slice(2) do |slice| %>
        <tr>
          <% slice.each do |genre| %>
            <td class="link-cell">
              <span id="genre-name-<%= genre.id %>">
                <%= link_to category_title_genre_path(category, title, genre), class: 'full-link genre-name-link d-flex align-items-center' do %>
                  <i class="fa-solid fa-book mr-3 icon-shadow" style="color: #8b4513;"></i>
                  <%= genre.genre_name %>
                <% end %>
              </span>
              <span id="genre-edit-form-<%= genre.id %>" style="display: none;">
                <%= form_with(model: genre, url: category_title_genre_path(category, title, genre), method: :patch, remote: true, html: { id: "edit-form-#{genre.id}" }) do |f| %>
                  <%= f.text_field :genre_name, value: genre.genre_name %>
                  <%= f.submit '保存', class: 'btn btn-primary btn-sm' %>
                <% end %>
              </span>
            </td>
            <td>
              <%= genre.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %>
            </td>
            <td>
              <button class="btn btn-success btn-sm edit-btn" data-genre-id="<%= genre.id %>">編集</button>
            </td>
            <td>
              <%= link_to '削除', category_title_genre_path(category, title, genre),
                method: :delete,
                data: { confirm: '中身も全て消えてしまいますが本当に削除しますか？' },
                class: 'btn btn-danger btn-sm'
              %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table small-table">
    <thead>
      <tr>
        <th style="background-color: #d3d3d3">もくじ名</th>
        <th style="background-color: #d3d3d3">保存日</th>
        <th style="background-color: #d3d3d3"></th>
        <th style="background-color: #d3d3d3"></th>
      </tr>
    </thead>

    <tbody class="genre">
      <% sorted_genres.each do |genre| %>
        <tr>
          <td class="link-cell">
            <span id="genre-name-<%= genre.id %>">
              <%= link_to category_title_genre_path(category, title, genre), class: 'full-link genre-name-link d-flex align-items-center' do %>
                <i class="fa-solid fa-book mr-3 icon-shadow" style="color: #8b4513;"></i>
                <%= genre.genre_name %>
              <% end %>
            </span>
            <span id="genre-edit-form-<%= genre.id %>" style="display: none;">
              <%= form_with(model: genre, url: category_title_genre_path(category, title, genre), method: :patch, remote: true, html: { id: "edit-form-#{genre.id}" }) do |f| %>
                <%= f.text_field :genre_name, value: genre.genre_name %>
                <%= f.submit '保存', class: 'btn btn-primary btn-sm' %>
              <% end %>
            </span>
          </td>
          <td>
            <%= genre.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M") %>
          </td>
          <td>
            <button class="btn btn-success btn-sm edit-btn" data-genre-id="<%= genre.id %>">編集</button>
          </td>
          <td>
            <%= link_to '削除', category_title_genre_path(category, title, genre),
              method: :delete,
              data: { confirm: '中身も全て消えてしまいますが本当に削除しますか？' },
              class: 'btn btn-danger btn-sm'
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>