<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-9">
      <%= link_to  mypage_users_path, class: 'mypage-link', title: 'マイページ' do %>
        <i class="fa-solid fa-address-card"></i>
      <% end %>＞
      <%= link_to new_category_path, class: 'return-link-brown', title: '２つ前に戻る', data: { "turbolinks" => false } do %>
        <i class="fa-solid fa-book-open"></i>
      <% end %>＞
      <%= link_to @category.category_name, category_path(@category), class: 'return-link-gold', title: '１つ前に戻る', data: { "turbolinks" => false } %>＞
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-5">
      <div class="d-flex justify-content-center align-items-center w-100 mb-2">
        <%= form_with(model: [@category, @title, @genre], url: category_title_genres_path(@category, @title), method: :post, local: true, class: 'w-100') do |f| %>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 mb-2">
              <%= f.text_field :genre_name, class: "form-control mr-2", id: 'genre_name', autofocus: true, placeholder: "もくじ３を入力(20文字まで登録できます)※必須" %>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-4 mb-2 d-flex justify-content-center">
              <%= f.submit "項目を追加", class: "btn btn-primary w-100", title: 'フォームに入力してこのボタンで保存します(保存をすると保存順に切り替わります)' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-9">
      <span class="title-name"><%= @title.title_name %></span>
      <%= link_to '五十音順', category_title_path(sort_order: 'alphabetical'),title:
'0(半角数字)
０(全角数字)a(半角小文字)
ａ(全角小文字)
A(半角大文字)
Ａ(全角大文字)
ｱ(半角カナ)
ァ(全角カナ)
ぁ(かな)
漢字
その他の順で並びます
' %>
      |
      <%= link_to '登録順', category_title_path(sort_order: 'created_at'), genre: '保存順で並びます' %>
      <%= render 'genre_save_order', sorted_genres: @sorted_genres, title: @title, category: @category %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'genre_name_edit', 'data-turbolinks-track': 'reload' %>