<%= stylesheet_link_tag 'public/posts', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="side-content col-sm-12 col-md-12 col-lg-2 d-flex flex-column align-items-center">
      <%= render 'public/users/user_card', user: @current_user %>
      <%= render 'public/content_names' %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9">
      <div class="d-flex justify-content-between align-items-center">
        <%= render "searches/post_search_form" %>
        <span class="mx-2">
          <%= link_to '最新の投稿', posts_path(sort: 'recent'), class: 'btn btn-outline-secondary btn-sm' %>
          <span class="ml-3">
            <i class="fas fa-heart" style="color: red; font-weight:bold ">いいね</i>多い順
          </span>
          <%= link_to '全期間', posts_path(sort: 'favorites_count'), class: 'btn btn-outline-secondary btn-sm' %> /
          <%= link_to '日間', posts_path(sort: 'daily_favorites'), class: 'btn btn-outline-secondary btn-sm' %> /
          <%= link_to '週間', posts_path(sort: 'weekly_favorites'), class: 'btn btn-outline-secondary btn-sm' %> /
          <%= link_to '月間', posts_path(sort: 'monthly_favorites'), class: 'btn btn-outline-secondary btn-sm' %>
        </span>
      </div>
      <!-- 投稿一覧 -->
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="text-center d-flex justify-content-end align-items-center">
            <span class="mr-3"><%= time_ago_in_words(post.updated_at) %>前</span>
            <%= render 'public/favorites/like', post: post %>
          </div>
          <div class="post-row post-link d-flex">
            <!-- ユーザー情報 -->
            <div class="user-card-link col-sm-3 col-md-3 col-lg-2 d-flex flex-column">
              <%= render 'public/users/index_user_card', user: post.user %>
            </div>

            <!-- 投稿内容と画像部分 -->
            <div class="show-link col-sm-9 col-md-9 col-lg-10 d-flex" style="flex-grow: 1;">
              <%= link_to post_path(post), style: 'text-decoration: none; display: flex; width: 100%;' do %>
                <!-- 本文 -->
                <div class="col-sm-9 col-md-9 col-lg-8 d-flex" style="flex-grow: 1; word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">
                  <div>
                    <p><%= simple_format(post.body) %></p>
                  </div>
                </div>
                <!-- 画像 -->
                <div class="col-sm-3 col-md-3 col-lg-4 d-flex flex-column align-items-end">
                  <% post.images.each do |image| %>
                    <div class="post-image mb-3">
                      <%= image_tag image, class: "img-fluid", alt: "Post Image", style: "max-width: 100%;" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>投稿がありません。</p>
      <% end %>

      <div id="pagination">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
