<%= stylesheet_link_tag 'public/posts', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 d-flex flex-column align-items-center">
      <%= render 'public/users/user_card', user: @user %>
    </div>
    <!-- 本文を表示する部分 -->
    <div class="col-md-7">
      <div class="text-center my-3">
        <% if current_user == @post.user %>
          <%= link_to '投稿を編集', edit_post_path(@post), class: 'btn btn-success w-50' %>
        <% end %>
      </div>
      <div class="show-row row d-flex mb-3">
        <div class="col-md-8 d-flex flex-column">
          <%= simple_format(@post.body) %>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-end">
          <div class="d-flex flex-column align-items-end">
            <% @post.images.each do |image| %>
              <div class="my-3">
                <%= image_tag image, style: "width: 500px; height: 300px; object-fit: cover;", alt: "Post Image", class: "img-fluid" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-center my-3">
        <% if current_user == @post.user %>
          <%= link_to '投稿を削除', post_path(@post), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger w-50' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= render "public/post_comments/comment_index", post: @post, post_comment: @post_comment %>
      <%= render "public/post_comments/comment_form", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
