<!-- user_card_admin.html.erb -->
<div class="user-card-follows <%= user.is_active ? 'user-card-true' : 'user-card-false' %>">
  <%= link_to user_path(user), class: 'user-card-link' do %>
    <% if user.profile_image.attached? %>
      <%= image_tag user.get_profile_image(150, 150), class: 'profile-image' %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '150x150', class: 'profile-image' %>
    <% end %>
    <h5 class="user-nick-name"><%= user.nick_name %></h5>
    <p class="user-profile"><%= user.profile %></p>
    <div class="spacer"></div>
  <% end %>
  <div class="follows-info">
    <p class="follows-count">
      <%= link_to "#{user.followings.count} フォロー", user_followings_path(user), class: "follows-count" %>
      |
      <%= link_to "#{user.followers.count} フォロワー", user_followers_path(user), class: "follows-count" %>
    </p>
    <!-- フォローボタン -->
    <% if current_user == user %>
      <!-- current_userと表示しているuserが同じ場合はマイページへのリンクを表示 -->
      <%= link_to 'マイページ', mypage_users_path, class: 'btn btn-success btn-sm' %>
    <% elsif current_user.following?(user) %>
      <!-- フォロー中の場合はフォローを外すボタンを表示 -->
      <%= link_to 'フォローを外す', user_relationship_path(current_user, user), method: :delete, class: 'btn btn-danger btn-sm' %>
    <% else %>
      <!-- フォローしていない場合はフォローボタンを表示 -->
      <%= link_to 'フォローする', user_relationships_path(followed_id: user.id), method: :post, class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
</div>
