<%= stylesheet_link_tag 'public/users', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-sm-12 col-md-12 col-lg-2 d-flex flex-column align-items-center">
      <%= render 'public/users/user_card', user: @user, followeds_count: @followers_count, followers_count: @followers_count %>
    </div>
    <div class="row d-flex">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4><%= @user.nick_name %>さんをフォローしているUser</h4>
        <% if @followers.any? %>
          <div id="admin-users-list">
            <% @followers.each_slice(5) do |followers_slice| %>
              <% followers_slice.each do |user| %>
                <%= render 'user_card_follors', user: user %>
              <% end %>
            <% end %>
          </div>
          <div class="pagination">
            <%= paginate @followers %>
          </div>
        <% else %>
          <p>フォローしているユーザーはいません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>