<%= paginator.render do -%>
  <nav class="pagination" role="navigation" aria-label="pager">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag unless current_page.first? %>
    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    <% unless current_page.out_of_range? %>
      <%= next_page_tag unless current_page.last? %>
      <%= last_page_tag unless current_page.last? %>
    <% end %>
  </nav>
<% end -%>

<%# Check for pagination on @posts or @users %>
<% if defined?(@posts) && @posts.respond_to?(:next_page) %>
  <% if @posts.next_page %>
    <%= link_to '次の10件', url_for(request.query_parameters.merge(page: @posts.next_page)) %>
  <% end %>

  <% if @posts.prev_page %>
    <%= link_to '前の10件', url_for(request.query_parameters.merge(page: @posts.prev_page)) %>
  <% end %>
<% elsif defined?(@users) && @users.respond_to?(:next_page) %>
  <% if @users.next_page %>
    <%= link_to '次の10件', url_for(request.query_parameters.merge(page: @users.next_page)) %>
  <% end %>

  <% if @users.prev_page %>
    <%= link_to '前の10件', url_for(request.query_parameters.merge(page: @users.prev_page)) %>
  <% end %>
<% end %>