<table class="comment-table">
  <tbody>
    <% post_comments.each do |post_comment| %>
      <tr>
        <th class="align-middle-link" style="border-top: 1px solid #bbb;">
          <% if post_comment.user == current_user %>
            <%= link_to mypage_users_path do %>
              <%= image_tag post_comment.user.get_profile_image(50, 50), class: 'comment-image' %>
            <% end %>
          <% else %>
            <%= link_to user_path(post_comment.user) do %>
              <%= image_tag post_comment.user.get_profile_image(50, 50), class: 'comment-image' %>
            <% end %>
          <% end %>
        </th>
        <th class="align-middle" style="border-top: 1px solid #bbb;">
          <% if post_comment.user == current_user %>
            <%= link_to mypage_users_path, class: 'd-block no-underline' do %>
              <div class="comment-nick_name"><%= post_comment.user.nick_name %></div>
            <% end %>
          <% else %>
            <%= link_to user_path(post_comment.user), class: 'd-block no-underline' do %>
              <div class="comment-nick_name"><%= post_comment.user.nick_name %></div>
            <% end %>
          <% end %>
        </th>
        <td class="align-middle" style="border-top: 1px solid #bbb;">
          <% if post_comment.user == current_user %>
            <div class="mt-2">
              <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, remote:true, data: {"turbolinks" => false}, class: "btn btn-sm btn-danger", style: "white-space: nowrap;", data: { confirm: "コメントを削除しますか？" } %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="border-bottom: 1px solid #bbb;"></td>
        <td class="comment-field" style="border-bottom: 1px solid #bbb;">
          <div class="mt-2">
            <%= post_comment.comment %>
          </div>
        </td>
        <td style="border-bottom: 1px solid #bbb;"></td>
      </tr>
      <tr>
        <td colspan="3" class="table-blank-post">
          <div class="d-flex justify-content-end mb-3">
            <%= time_ago_in_words(post_comment.updated_at) %>前
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
