<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="side-content col-sm-12 col-md-12 col-lg-2 d-flex flex-column align-items-center">
      <%= render 'public/users/user_card', user: @current_user %>
      <%= link_to new_category_path, class: 'link-dictionary mt-3', title: 'My Dictionary', data: { "turbolinks" => false } do %>
        <i class="fa-solid fa-book-open"> 辞書を開く</i>
      <% end %>
      <%= render 'public/content_names' %>
      <%= render 'public/links/link_table', links: @links %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9">
      <div class="d-flex justify-content-center align-items-center">
        <%= render "searches/search_form" %>
      </div>
      <div class="auto-scroll">
        <% if @users.present? %>
          <div class="user-list">
            <%= render 'public/users/user_index', users: @users %>
          </div>
          <!-- ページネーション -->
        <% else %>
          <p>検索結果がありません。</p>
        <% end %>
        <div id="pagination" style="display: none;">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>