<%= stylesheet_link_tag 'public/users', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 d-flex flex-column align-items-center">
      <div class="d-flex justify-content-center mb-2">
        <%= render 'searches/search_form' %>
      </div>
      <%= render 'public/users/user_card', user: @current_user %>
      <% if @current_user %>
        <%= link_to 'プロフィール編集', edit_user_path(@current_user), class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <% if @users.present? %>
        <div class="user-list">
          <%= render 'public/users/user_index', users: @users %>
        </div>
        <!-- ページネーション -->
        <div id="pagination">
          <%= paginate @users %>
        </div>
      <% else %>
        <p>検索結果がありません。</p>
      <% end %>
    </div>
  </div>
</div>