<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="side-content col-sm-12 col-md-12 col-lg-2 d-flex flex-column align-items-center">
      <div class="clock-md d-flex flex-column justify-content-center">
        <%= render 'public/clocks/clock' %>
      </div>
      <%= render 'public/content_names' %>
      <div>
        <%= render 'public/links/link_table', links: @links %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-10">
      <%= form_with model: [@category, @title, @genre, @content], local: true, html: { id: 'post_form', enctype: 'multipart/form-data' } do |f| %>
        <div class="row d-flex justify-content-center mb-3">
          <div class="field col-12">
            <div>
              <%= link_to  mypage_users_path, class: 'mypage-link', title: 'マイページ' do %>
                <i class="fa-solid fa-address-card"></i>
              <% end %>＞
              <%= link_to new_category_path, class: 'return-link-brown', title: '５つ前に戻る', data: {"turbolinks" => false} do %>
                <i class="fa-solid fa-book-open"></i>
              <% end %>＞
              <%= link_to @category.category_name, category_path(@category), class: 'return-link-gold', title: '４つ前に戻る', data: {"turbolinks" => false} %>＞
              <%= link_to @title.title_name, category_title_path(@category, @title), class: 'return-link-blue', title: '３つ前に戻る', data: {"turbolinks" => false} %>＞
              <%= link_to @genre.genre_name, category_title_genre_path(@category, @title, @genre), class: 'return-link-green', title: '２つ前に戻る', data: {"turbolinks" => false} %>＞
              <%= link_to @content.content_name, category_title_genre_content_path(@category, @title, @genre, @content), class: 'return-link-purple', title: '１つ前に戻る', data: {"turbolinks" => false} %>＞
            </div>
            <div class="d-flex justify-content-between align-items-center my-4">
              <%= f.text_field :content_name, class: "form-control", id: 'content_name', autofocus: true , placeholder: "項目名を入力(20文字まで登録できます)", style: "width: 350px;" %>
              <div style="margin-left: 10px;">
                <%= f.submit 'ページを保存', class: 'btn btn-success', title: "このボタンで保存します" %>
                <%= link_to 'ページを削除', category_title_genre_content_path(@category, @title, @genre, @content), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger mr-1', style: 'margin-right: 0;' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-8 p-0">
                <%= f.text_area :body, sanitize: true, class: 'post-text-area', id: 'body', placeholder: "内容を入力してください(5000文字まで登録できます)" %>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 pt-0">
                <div class="d-flex justify-content-left mb-1">
                  <button id="add_image_button" type="button" class="image-add-btn btn-secondary" style="width: 50%">画像を追加する</button>
                  ※(.jpg/.jpeg/.pngのみ)3枚まで
                </div>
                <div class="content-image-field">
                  <div class="file-field_0 mb-3">
                    <!-- 画像を追加するためのフィールド -->
                    <input name="content[images][]" type="file" class="content_image" aria-num="0" onchange="fileSelect(this);" multiple>
                    <img id="preview_area_0">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
  function switchUserCardTemplate() {
    const windowWidth = $(window).width();
    const userCardContainer = $('#user-card-container');

    // 画面幅がmdサイズ未満の場合（Bootstrapのmdは992px以下）
    if (windowWidth < 992) {
      userCardContainer.load('/path/to/user_card_partial', { user: <%= @user.id %> });
    }
    // mdサイズ以上の場合
    else {
      userCardContainer.load('/path/to/post_show_user_card_partial', { user: <%= @user.id %> });
    }
  }

  // 初回読み込み時とウィンドウリサイズ時に関数を呼び出す
  switchUserCardTemplate();
  $(window).resize(switchUserCardTemplate);
});
</script>