<%= stylesheet_link_tag 'public/posts', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="side-content col-sm-12 col-md-12 col-lg-2 d-flex flex-column align-items-center">
      <div class="clock-md d-flex flex-column justify-content-center">
        <%= render 'public/clocks/clock' %>
      </div>
      <%= render 'public/content_names' %>
      <div>
        <%= render 'public/links/link_table', links: @links %>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-10">
      <div class="d-flex justify-content-center flex-column align-items-center mb-4">
        <%= button_tag(id: 'help-button', class: 'btn btn-secondary mb-3', title: 'ヘルプ', data: { turbolinks: false }) do %>
          <i class="fa-solid fa-question"></i>
        <% end %>
        <div id="help-content" class="d-none" style="max-width:800px; height: auto;  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); border-radius: 15px; border: 2px solid #898989; padding: 15px">
          <h5 class="font-weight-bold">
            もくじ４、内容、imageを入力してください。
          </h5>
          <h5>
            <span class="btn btn-primary btn-sm">保存して内容確認</span>
            ➡ ページを保存後、内容確認画面へ移動します。
          </h5>
          <h5>
            <span class="btn btn-info btn-sm">保存して新規作成</span>
            ➡ ページを保存後、新しいページ作成画面へ移動します。
          </h5>
        </div>
      </div>

      <%= form_with model: @content, url: category_title_genre_contents_path(@category, @title, @genre), local: true, html: { id: 'content_form', enctype: 'multipart/form-data' } do |f| %>
        <div class="row d-flex justify-content-center mb-3">
          <div class="field col-12">
            <div>
              <%= link_to mypage_users_path, class: 'mypage-link', title: 'マイページ' do %>
                <i class="fa-solid fa-address-card"></i>
              <% end %>＞
              <%= link_to new_category_path, class: 'return-link-brown', title: '４つ前に戻る' do %>
                <i class="fa-solid fa-book-open"></i>
              <% end %>＞
              <%= link_to @category.category_name, category_path(@category), class: 'return-link-gold', title: '３つ前に戻る' %>＞
              <%= link_to @title.title_name, category_title_path(@category, @title), class: 'return-link-blue', title: '２つ前に戻る' %>＞
              <%= link_to @genre.genre_name, category_title_genre_path(@category, @title, @genre), class: 'return-link-green', title: '１つ前に戻る' %>＞
            </div>
            <div class="d-flex justify-content-between align-items-center my-4">
              <%= f.text_field :content_name, class: "form-control", id: 'content_name', autofocus: true, placeholder: "もくじ４を入力(20文字まで登録できます)※必須", style: "width: 380px;" %>
              <div style="margin-left: 10px;">
                <%= f.submit '保存して内容確認', name: 'save_and_show', class: 'btn btn-primary', title: "保存して内容を確認" %>

                <%= f.submit '保存して新規作成', name: 'save_and_new', class: 'btn btn-info', title: "保存して次のページ" %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-8 p-0">
                <%= render 'content_form', content: @content, category: @category, title: @title, genre: @genre %>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4 pt-0">
                <div class="d-flex justify-content-left mb-1">
                  <button id="add_image_button" type="button" class="image-add-btn btn-secondary" style="width: 50%">画像を追加する</button>
                  ※(.jpg/.jpeg/.pngのみ)3枚まで
                </div>
                <div class="content-image-field">
                  <div class="file-field_0 mb-3">
                    <input name="content[images][]" type="file" class="content_image" aria-num="0" onchange="fileSelect(this);" accept="image/*">
                    <img id="preview_area_0">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'content_new_help', 'data-turbolinks-track': 'reload' %>