<%= stylesheet_link_tag 'public/posts', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 d-flex flex-column align-items-center">
      <%= render 'public/users/user_card', user: @user %>
       <% if @current_user %>
        <%= link_to 'プロフィール編集', edit_user_path(@current_user), class: 'btn btn-primary mt-3' %>
      <% end %>
      <%= render 'public/content_names' %>
    </div>
    <div class="col-md-9">

      <div class="d-flex justify-content-center flex-column align-items-center mb-2">
        <button id="help-button" class="btn btn-secondary mb-3" title="ヘルプ"><i class="fa-solid fa-question"></i></button>
        <div id="help-content" class="d-none" style="max-width:800px; height: auto;  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); border-radius: 15px; border: 2px solid #898989; padding: 15px">
          <h5><span class="btn btn-info btn-sm">ページを投稿</span> ➡ この内容をSNSに投稿し、投稿内容確認画面へ移動します。</h5>
          <h5><span class="btn btn-primary btn-sm">ページを作成</span> ➡ 新しいページ作成画面へ移動します。</h5>
          <h5><span class="btn btn-success btn-sm">ページを編集</span> ➡ この内容の編集画面へ移動します。</h5>
          <h5><span class="btn btn-danger btn-sm">ページを削除</span> ➡ この内容の削除が出来ます。</h5>
        </div>
      </div>

      <div>
        <%= link_to  mypage_users_path, class: 'mypage-link', title: 'マイページ' do %>
          <i class="fa-solid fa-address-card"></i>
        <% end %>＞
        <%= link_to new_category_path, class: 'return-link-brown', title: 'よっつ前に戻る' do %>
          <i class="fa-solid fa-book-open"></i>
        <% end %>＞
        <%= link_to @category.category_name, category_path(@category), class: 'return-link-gold', title: 'みっつ前に戻る' %>＞
        <%= link_to @title.title_name, category_title_path(@category, @title), class: 'return-link-blue', title: 'ふたつ前に戻る' %>＞
        <%= link_to @genre.genre_name, category_title_genre_path(@category, @title, @genre), class: 'return-link-green', title: 'ひとつ前に戻る' %>＞
      </div>
      <div class="row d-flex justify-content-between align-items-center my-1">
        <div class="content-name"><%= @content.content_name %></div>
        <div class="ml-auto">
          <% if current_user == @content.genre.title.category.user %>
            <%= link_to 'ページを投稿', create_from_content_post_path(content_id: @content.id), method: :post, class: 'btn btn-info mr-1', data: { confirm: 'この内容を投稿しますか？' }, style: 'margin-right: 0;', title: 'ページをSNSに投稿出来ます' %>
            <%= link_to 'ページを作成', new_category_title_genre_content_path(@category, @title, @genre), class: 'btn btn-primary mr-1', data: {"turbolinks" => false}, title: '新しいページを作成出来ます' %>
            <%= link_to 'ページを編集', edit_category_title_genre_content_path(@category, @title, @genre, @content), class: 'btn btn-success mr-1', style: 'margin-right: 0;', title: 'このページを編集出来ます' %>
            <%= link_to 'ページを削除', category_title_genre_content_path(@category, @title, @genre, @content), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger mr-1', style: 'margin-right: 0;', title: 'このページを削除します' %>
          <% end %>
        </div>
      </div>
      <div class="show-row row d-flex mb-3">
        <div class="col-md-8 d-flex flex-column" style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">
          <%= simple_format(@content.body) %>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-end">
          <div class="d-flex flex-column align-items-end">
            <% @content.images.each do |image| %>
              <div class="my-3">
                <%= image_tag image, style: "width: 500px; height: 300px; object-fit: cover;", alt: "Content Image", class: "img-fluid" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--HELP表示-->
<script>
  document.addEventListener('turbolinks:load', function () {
    const helpButton = document.getElementById('help-button');
    const helpContent = document.getElementById('help-content');

    helpButton.addEventListener('click', function () {
      if (helpContent.classList.contains('d-none')) {
        helpContent.classList.remove('d-none');
      } else {
        helpContent.classList.add('d-none');
      }
    });
  });
</script>