<div class="user-card <%= user.is_active ? 'user-card-true' : 'user-card-false' %>">
  <%= link_to admin_user_path(user), class: 'user-card-link' do %>
    <% if user.profile_image.attached? %>
      <%= image_tag user.get_profile_image(150, 150), class: 'profile-image' %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '150x150', class: 'profile-image' %>
    <% end %>
    <p class="user-nick-name"><%= user.nick_name %></p>
    <p class="user-profile"><%= user.profile %></p>
    ﾌｫﾛﾜｰ数：<span class="followed-count"><%= user.followers.count %></span>
    <p class="user-full-name"><%= user.full_name %></p>
    <p class="mail"><%= user.email %></p>
    <% if user.is_active %>
      <p class="is_active_true">登録中</p>
    <% else %>
      <p class="is_active_false">退会中</p>
    <% end %>
  <% end %>
  <p class="created-at">登録日: <%= user.created_at.strftime("%Y-%m-%d") %></p>
  <p class="updated-at">編集日: <%= user.updated_at.strftime("%Y-%m-%d") %></p>
</div>
