// JavaScriptとして実行される内容

// ユーザーのステータスが更新された後、カードの表示内容を更新
<% if @user.is_active? %>
  $(".card_is_active").html('<%= j render partial: "user_card_admin", locals: { user: @user } %>');
<% else %>
  $(".card_is_active").html('<%= j render partial: "user_card_admin", locals: { user: @user } %>');
<% end %>

<% if @user.is_active? %>
  $("#user-status").html('<%= j button_to "退会させる", admin_user_path(@user), method: :patch, remote: true, params: { user: { is_active: false } }, class: "btn btn-danger", data: { confirm: "本当に退会させますか？" } %>');
<% else %>
  $("#user-status").html('<%= j button_to "再開させる", admin_user_path(@user), method: :patch, remote: true, params: { user: { is_active: true } }, class: "btn btn-success", data: { confirm: "このユーザーを再開させますか？" } %>');
<% end %>

// フラッシュメッセージの表示
<% if flash[:notice] %>
  $("#flash-messages").html('<div class="alert alert-success"><%= j flash[:notice] %></div>');  // 成功メッセージは緑色
<% elsif flash[:alert] %>
  $("#flash-messages").html('<div class="alert alert-danger"><%= j flash[:alert] %></div>');    // 警告メッセージは赤色
<% end %>

// フラッシュメッセージを自動的に消す処理(notice)
setTimeout(function() {
  $(".notice").fadeOut("slow", function() {
    $(this).remove();
  });
}, 3000);

// フラッシュメッセージを自動的に消す処理(alert)
setTimeout(function() {
  $(".alert").fadeOut("slow", function() {
    $(this).remove();
  });
}, 3000);