<% if user %>
  <div class="user-card <%= 'current-user' if user == @current_user %>">
    <% if user.profile_image.attached? %>
      <%= image_tag user.get_profile_image(150, 150), class: 'profile-image' %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '150x150', class: 'profile-image' %>
    <% end %>
    <h5><%= user.nick_name %></h5>
    <p class="user-profile"><%= user.profile %></p>
  </div>
<% else %>
  <div class="user-card">
    <%= image_tag 'no_image.jpg', size: '150x150', class: 'profile-image' %>
    <h5>ゲスト</h5>
    <p>投稿するには</br>
    <p>ログインが必要です</p>
  </div>
<% end %>
