<%= stylesheet_link_tag 'public/users', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-2 d-flex flex-column align-items-center">
      <%= render 'public/users/user_card', user: @current_user %>
      <% if @current_user %>
        <%= link_to 'プロフィール編集', edit_user_path(@current_user), class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
    <div class="col-10">
      <!-- ユーザー一覧 -->
      <% if @users.any? %>
        <% @users.each do |user| %>
          <div class="post-row d-flex mb-3">
            <!-- ユーザー情報 -->
            <div class="user-card-link col-md-2 d-flex flex-column">
              <%= render 'public/users/index_user_card', user: user %>
            </div>

            <!-- 投稿内容と画像部分 -->
            <div class="show-link col-md-10 d-flex">
              <%= link_to user_path(user), style: 'text-decoration: none; display: flex; width: 100%;' do %>
                <!-- 投稿内容 -->
                <div class="d-flex flex-column flex-grow-1 me-3">
                  <div class="mb-3">
                    <% if user.recent_post %>
                      <p><%= simple_format(user.recent_post.body) %></p>
                    <% else %>
                      <p>最近の投稿がありません。</p>
                    <% end %>
                  </div>
                </div>
                <!-- 画像部分 -->
                <div class="col-md-5 d-flex flex-column align-items-end">
                  <% if user.recent_post && user.recent_post.images.any? %>
                    <% user.recent_post.images.each do |image| %>
                      <div class="post-image mb-3">
                        <%= image_tag image, class: "img-fluid", alt: "Post Image", style: "max-width: 100%;" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>ユーザーがいません。</p>
      <% end %>
      <!-- ページネーション -->
      <div id="pagination">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
