<%= stylesheet_link_tag 'public/users', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <!-- 左カラム -->
    <div class="col-sm-12 col-md-12 col-lg-2 d-flex flex-column align-items-center">
      <%= render 'user_card', user: @user %>
      <%= link_to 'プロフィール編集', edit_user_path(@user), class: 'btn btn-primary mt-3' %>
      <%= render 'public/content_names' %>
      <%= render 'public/links/link_table', links: @links %>
    </div>

    <!-- 中央カラム -->
    <div class="col-sm-12 col-md-9 col-lg-8">
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <div class="text-center d-flex justify-content-end align-items-center">
            <span class="mr-3"><%= time_ago_in_words(post.updated_at) %>前</span>
            <%= render 'public/favorites/like', post: post %>
          </div>
          <%= link_to post_path(post), class: "post-link" do %>
            <div class="post-row d-flex mb-3">
              <div class="col-sm-9 col-md-9 col-lg-8 d-flex">
                <div class="flex-grow-1" style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">
                  <%= content_tag :div, simple_format(post.body), class: "simple-format" %>
                </div>
              </div>
              <div class="col-sm-3 col-md-9 col-lg-4 d-flex flex-column align-items-end">
                <% post.images.each do |image| %>
                  <div class="post-image mb-3">
                    <%= image_tag image, class: "img-fluid", alt: "Post Image" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>投稿はありません。</p>
      <% end %>
      <div id="pagination">
        <%= paginate @posts %>
      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-2 d-flex flex-column align-items-center">
      <% if @notifications.any? %>
        <!-- ボタン -->
        <%= link_to mark_all_as_read_notifications_path, method: :patch, class: 'notification-all-check', title: '全ての通知を既読にする', data: { confirm: '全ての通知を既読にしますか？' } do %>
          <i class="fas fa-bell"></i>
          <span class="unread-count"><%= @unread_count if @unread_count > 0 %></span>
          <i class="fa-solid fa-circle-check"></i>
        <% end %>
        <!-- 通知リスト -->
        <ul class="list-unstyled">
          <% @notifications.each do |notification| %>
            <li style="margin-bottom: 20px;">
              <% case notification.notificable_type %>
              <% when 'Favorite' %>
                <% unless notification.read %>
                  <i class="fas fa-bell" style="color: #ffd700"></i>
                  <%= link_to notification_path(notification), method: :patch, class: "notification-favo-name text-wrap" do %>
                    <span><%= "#{truncate(notification.notificable.user.nick_name, length: 13)}" %>さんに </span>
                    <div>
                      <i class="fa-solid fa-heart">いいね</i> されました
                    </div>
                  <% end %>
                <% end %>
              <% when 'PostComment' %>
                <% unless notification.read %>
                  <i class="fas fa-bell" style="color: #ffd700"></i>
                  <%= link_to notification_path(notification), method: :patch, class: "notification-comment-name text-wrap" do %>
                    <span><%= "#{truncate(notification.notificable.user.nick_name, length: 13)}" %>さんから </span>
                    <div>
                      <i class="fa-solid fa-comment">コメント</i> が来ました
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <%= "Unknown notification type" %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="pagination">
          <% if @notifications.total_pages > 1 %>
            <%= paginate @notifications %>
          <% end %>
        </div>
      <% else %>
        <i class="fas fa-bell" style="color: gray; font-size: 20px"> 通知はありません</i>
      <% end %>
    </div>
  </div>
</div>
