<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-2 d-flex flex-column align-items-center">
      <%= render 'user_card', user: @user %>
      <%= link_to 'プロフィール編集', edit_user_path(@user), class: 'btn btn-primary mt-3' %>
    </div>
    <!-- 投稿本文と画像部分 -->
    <div class="col-10">
      <h2>マイポスト</h2>
      <% if @posts.any? %>
        <% @posts.each do |post| %>
          <%= link_to post_path(post), class: "post-link" do %>
            <div class="post-row d-flex mb-3">
              <!-- 本文の列 -->
              <div class="col-8 d-flex flex-column">
                <div class="flex-grow-1">
                  <p><%= simple_format(post.body) %></p>
                </div>
              </div>

              <!-- 画像の列（右寄せ） -->
              <div class="col-4 d-flex flex-column align-items-end">
                <% post.images.each do |image| %>
                  <div class="mb-3 text-right">
                    <%= image_tag image, class: "img-fluid", alt: "Post Image" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '投稿一覧', posts_path %> <!-- 投稿一覧へのリンク -->
<%= link_to '新しい投稿を作成', new_post_path %> <!-- 新しい投稿を作成するリンク -->
<%= link_to "top", root_path %> <!-- トップページへのリンク -->
