<header class="custom-header py-3">
  <div class="container-fluid px-5 d-flex justify-content-between align-items-center">
    <!-- アイコンとShareWiseの文字部分 -->
    <div class="home-icon d-flex align-items-center">
      <% if admin_signed_in? %>
        <%= link_to admin_posts_path, class: (current_page?(admin_path) ? 'text-decoration-none active' : 'text-decoration-none') do %>
          <i class="fa-solid fa-house"></i>
          <span class="site-title">ShareWise</span> <!-- ホームアイコンの右にテキストを追加 -->
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to root_path, class: (current_page?(root_path) ? 'text-decoration-none active' : 'text-decoration-none') do %>
          <i class="fa-solid fa-house"></i>
          <span class="site-title">ShareWise</span>
        <% end %>
      <% else %>
        <%= link_to root_path, class: (current_page?(root_path) ? 'text-decoration-none active' : 'text-decoration-none') do %>
          <i class="fa-solid fa-house"></i>
          <span class="site-title">ShareWise</span>
        <% end %>
      <% end %>
    </div>
    <!-- ログイン別のメニュー部分 -->
    <div>
      <% if admin_signed_in? %>
        <%= link_to 'user一覧', admin_users_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(admin_users_path)}" %>
        <%= link_to 'post一覧', admin_posts_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(admin_posts_path)}" %>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'header-link text-decoration-none hover-effect mx-3', data: { confirm: 'ログアウトしますか？' } %>
      <% elsif user_signed_in? %>
        <%= link_to 'マイページ', mypage_users_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(mypage_users_path)}" %>
        <%= link_to new_category_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(new_category_path)}" do %>
          <i class="fa-solid fa-book-open">本を開く</i>
        <% end %>
        <%= link_to 'user一覧', users_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(users_path)}" %>
        <%= link_to 'post一覧', posts_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(posts_path)}" %>
        <%= link_to '新規投稿', new_post_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(new_post_path)}" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header-link text-decoration-none hover-effect mx-3', data: { confirm: 'ログアウトしますか？' } %>
      <% else %>
        <%= link_to 'about', about_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(about_path)}" %>
        <%= link_to 'user一覧', users_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(users_path)}" %>
        <%= link_to 'post一覧', posts_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(posts_path)}" %>
        <%= link_to 'ログイン', new_user_session_path, class: "header-link text-decoration-none hover-effect mx-3 #{'active' if current_page?(new_user_session_path)}" %>
      <% end %>
    </div>
  </div>
</header>