<!DOCTYPE html>
<html>
  <head>
    <title>Sharewise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f6eb215aef.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <main class="main-content py-5">
      <%= yield %>
      <span id="back">
        <a href="#" data-turbolinks="false">
          <i class="fa-solid fa-chevron-up" style="font-size: 50px;" title="画面上部へ"></i>
        </a>
      </span>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>