<!DOCTYPE html>
<html>
  <head>
    <title>Sharewise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f6eb215aef.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <main class="main-content py-5">
      <%= yield %>
    </main>
    <footer class="custom-footer pt-3"></footer>
  </body>
</html>
<script>
  // 3秒後にフラッシュメッセージをフェードアウト
  setTimeout(function() {
    var flashMessages = document.getElementById('flash-messages');
    if (flashMessages) {
      flashMessages.style.transition = 'opacity 0.5s ease';
      flashMessages.style.opacity = '0';
      setTimeout(function() {
        flashMessages.remove();
      }, 500);  // フェードアウトが終わった後に要素を削除
    }
  }, 3000);  // 3000ms = 3秒
</script>